 
nav{
   display: flex;
   justify-content: space-between;
   background: rgb(16, 16, 20);
   
   color: aliceblue;
   align-items: center;
   margin: 0;
   margin-top: -1%;
   margin-left: -0.7%;
  width: 1290px;
  padding-top: 15px;
  
}
nav div ul{
   display: flex;
   justify-content: space-between;
   
}
nav ul{
   display: flex;
   justify-content: space-between;
   gap:5rem ;
   list-style-type: none;
   font-size: 18px;
   cursor: pointer;
}
nav div{
   margin: 0;
}
 nav div button{
   padding:0.7rem 2rem;
   color:#fdfcfc;
   background-color: transparent;

 }
.active{
  color: rgb(222, 145, 30);
}

.logo {
  font-weight: bolder;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 2rem;
  
}
 
