 
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <form>
       <h1>login</h1>
       <input type="text"placeholder="Enter Name"><br>
       <input type="password"placeholder="Enter password"><br>
       <div class="container">
       <input type="checkbox">Remember me<br>
       </div>
       <input type="submit" value="submit"><br>
   </form>
   
</body>
</html>