<div class="box">  
    <div class="row" *ngIf="!loading">
        <div class="col-md-5 col-sm-12">
             <img src="{{data.image}}" alt="sas"> 
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="info">
                <ul class="list-unstyled">
                    <li><strong>Title :</strong>{{data.title}}</li>
                    <li><strong>Category :</strong>{{data.Category}}</li>
                    <li><strong>Description :</strong>{{data.description}}</li>
                    <li><strong>Rate :</strong>{{data.rating.rate}}</li>
                    <li><strong></strong>{{data.rating.Count}}</li>
                    <li><strong>Price :</strong>{{data.Price}} $</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="text-center"></div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>